

<fieldset>
<div >

  <%= f.input :name, label: "Role", placeholder:"Input one role" ,
  :input_html=>{:class => "span4 formInline"} %>
  <%= f.hidden_field :_destroy%>

  <%= link_to "remove", '#', class: "remove_fields  formInline" %>
</div>
</fieldset>