<div class="container">
  <div class="newMeeting">
    <div class="newMeetingInner">
      <h2>Edit meeting</h2>
      <%= render 'form' %>
      <%= link_to 'Show', @meeting %> |
      <%= link_to '<< Back', meetings_path %>
    </div>
  </div>
</div>

