<div class="container-fluid">
  <div class="newMeeting">
    <div class="newMeetingInner">
      <h3>New Meeting</h3>
      <%= render 'form' %>
      <%= link_to '<< Back', meetings_path %>
    </div>
  </div>
</div>
