//-----------start ------------

$gridColumns: 14;

@import "bootstrap";

.showContainer {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}

.showLeft {
  float: left;
  width: 220px;

  padding: 10px;
  background-color: #F0F3F0;
  @include border-radius(5px);

  h3 {
    text-align: middle;
    width: 150px;
    margin: 20px auto ;
    color: #08c;
  }
}

.showStatus {
  width: 100%;
  margin: auto;
}

.showMain {
  position: absolute;
  left: 260px;
  padding: 20px;

}


input[type='submit'].showExitButton {
  display: block;
  background-color: #FFA59D;
  padding: 3px 12px;  
  font-size: $baseFontSize + 2px;
  margin: 0 auto;
  color: white;
  border: 0px;
  @include border-radius(5px);
}


input[type='submit'].showJoinButton {
  display: block;  
  background-color: #B6E7CD;
  padding: 3px 12px;  
  font-size: $baseFontSize + 2px;
  margin: 0 auto;
  color: white;
  border: 0px;
  @include border-radius(5px);
}

.showMeetingInfo {
  margin-top: 50px;

  .leftItemName {
    display: block;
    text-align: left;
    vertical-align: top;
    text-transform: uppercase;    
  }

  .leftItemValue {
    display: block;
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
    vertical-align: top;
  }
}

//table#roleAssignment  - general setting
table#roleAssignment {
  tr {
    height: 90px;
  }

  tr.currentuser {
    height: 150px;
    background-color: #F4F4F4;
  }

  //style the row of "assign status"
  td {
    width: 80px;
    div.statusRow {
      padding: 0;
      position : relative;
      height:  80px;
      overflow: hidden;
      text-align: middle;
    }
  }

  //style the row of "assign status" - name display
  .assignName {
    position: absolute;
    top: 0;
    left: 10px;
    font-weight: bold;
    font-family: verdana, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
  }

  //style the row of "assign status" - status style - "nochoic","choicewant","choicenot4me"
  div.nochoice p {
    margin-top: 5px;
    font-weight: bold;
  }

  div.choicewant {
    background-color: #B6E7CD;
    p {
      margin-top: 5px;
      font-weight: bold;
    }
  }

  div.choicenot4me {
    background-color: #FFA59D;
    p {
      margin-top: 5px;
      font-weight: bold;
    }
  }

  //style the row of members :  "current user"  - choice
  td {
    width: 80px;
    div.choiceRow {
      padding: 0;
      position : relative;
      height: 160px;
      overflow: hidden;
      text-align: middle;
    }
  }

  .choiceButton {
    width: 70px;
  } 

  .choiceWant {
    position: absolute;
    left: 10px;
    top: 40px;
  }

  .choiceDontwant {
    position: absolute;
    left: 10px;
    top: 80px;
  }

  .choiceClear {
    position: absolute;
    left: 10px;
    top: 120px;
  }

  .choiceStyle {
    margin-left: 10px;
    color: blue;
  }

  //style the row of members :  "organizer"   - assignButton 
  .assignButton {
    width: 70px;
    position: absolute;
    left: 10px;
    top: 40px;
  }
}