//-----------start ------------

$gridColumns: 14;

@import "bootstrap";

.showContainer {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}

.showLeft {
  float: left;
  width: 220px;
  padding: 10px;
  background-color: #F0F3F0;
  @include border-radius(5px);

  h3 {
    text-align: middle;
    width: 150px;
    margin: 20px auto ;
    color: #08c;
    font-size: $baseFontSize + 6px;
  }
}

.showStatus {
  width: 100%;
  margin: auto;
}

.showMain {
  position: absolute;
  left: 260px;
  padding: 20px;
}

@mixin showButton($color, $hover_color) {
  display: block;
  background-color: $color;
  padding: 3px 12px;  
  font-size: $baseFontSize + 2px;
  margin: 0 auto;
  color: white;
  border: 0px;
  @include border-radius(5px);
  &:hover {
    background-color: $hover_color;
  }  
}

input[type='submit'].showExitButton {
  @include showButton(#FFA59D, red);
}

input[type='submit'].showJoinButton {
  @include showButton(#B6E7CD, green);
}

.showMeetingInfo {
  margin-top: 50px;
  font-size: $baseFontSize;

  .leftItemName {
    display: block;
    text-align: left;
    vertical-align: top;
    font-weight: bold;
    font-family: verdana, sans-serif;
    text-transform: uppercase;    
  }

  .leftItemValue {
    display: block;
    text-align: left;
    margin-left: 30px;
    margin-top: 10px;
    vertical-align: top;
  }
}

//table#roleAssignment  - general setting
tr {
  height: 90px;
  &.currentuser {
      background-color: #F4F4F4;
  }    
}

td {
  width: 80px;

  //style the row of "assign status"
  div.statusRow {
    padding: 0;
    position : relative;
    height:  80px;
    overflow: hidden;
    text-align: middle;
  }

  //style the row of members :  "current user"  - choice
  div.choiceRow {
    padding: 0;
    position : relative;
    height: 160px;
    overflow: hidden;
    text-align: middle;
  }

  &.memberName {
    line-height:80px;  
    margin: auto auto;
    padding: auto auto;
    text-align: center;
  }

}

//style the row of "assign status" - status style - "nochoic","choicewant","choicenot4me"
p {
  div.nochoice, div.choicewant, div.choicenot4me {
    margin-top: 5px;
    font-weight: bold;   
  }
}

div.choicewant {
  background-color: #B6E7CD;
}

div.choicenot4me {
  background-color: #FFA59D;
}

//style the row of "assign status" - name display
.assignName {
  position: absolute;
  top: 0;
  left: 10px;
  font-weight: bold;
  font-family: verdana, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

//style the row of "choice status": WANT or NO4ME 
.choiceStyle {
  margin-left: 10px;
  color: blue;
}  

@mixin btn($top) {
  position: absolute;
  width: 70px;
  left: 10px;
  top: $top;
}

.choiceWant .choiceButton {
  @include btn(40px);
}

.choiceDontwant .choiceButton {
  @include btn(80px);
}

.choiceClear .choiceButton {
  @include btn(120px);
}

//style the row of members :  "organizer"   - assignButton 
.assignButton {
  @include btn(40px);
}
